@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100..900&display=swap");

//fonts
$fontMain: "Lato", sans-serif;
$fontSecond: "Montserrat", sans-serif; //використовуємо заміть Ondo

//colors

$backgroundColorMain: #2d1e6b;
$backgroundColorSecond: #dd00b8;
$textColorPrimary: #fff;
