input[type="radio"] {
 display: none;
 }
 
 .buttons {
 display: flex;
 align-items: center;
 width: 100%;
 max-width: 390px;
 justify-content: space-between;
//  gap: 3px;
 &__button {
 text-align: center;
 color: #fff;
 text-transform: uppercase;
 padding: 10px 0;
//  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  transform: skewX(-14deg);
 width: 90px;
 font-weight: 500;
 font-size: 8px;
 line-height: 111%;
 background-color: transparent;
  border: 1px solid;
 border-image: linear-gradient(135deg, #7f00ff, #e100ff) 1;
 position: relative;
 cursor: pointer;
 }
 }
 
 .buttons__button  span{
    display: inline-block; 
    transform: skewX(14deg);
 }

 input[type="radio"]:checked + .buttons__button {
 background: linear-gradient(90deg, #4b00e0, #ff00d4);
 font-weight: 800px;
 border: none;
 }
 
 @media (min-width: 768px) {
 .buttons {
 gap: 15px;
  max-width: 700px;
 &__button {
 padding: 16px 18px;
//  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
 width: 170px;
 font-size: 16px;
 }
 }
 }
 
 @media (min-width: 1200px) {
 .buttons {
 width: 100%;
 max-width: 1100px;
 &__button {
 padding: 22px 0;
//  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
 width: 251px;
 font-size: 18px;
 font-weight: 800;
 }
 }
 }