.games {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .games {
    &__list {
      gap: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .games {
    &__list {
      gap: 25px;
    }
  }
}
