.section3{
  margin-top: 20px;
}

.section3-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 570px;
  border: solid 2px rgb(170, 58, 170);
   background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
}

.img-section3 {
  padding-bottom: 59px;
}


.marquee-wrapper-section3 {
  
      top: 30%;
      width: 100%;
       z-index: 1000;
    
      overflow: hidden;
      margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 70px;
}

.marquee-section3 {
   display: flex;
      animation: scroll 20s linear infinite;
      white-space: nowrap;
      font-size: 24px;
      font-weight: bold;
      color: white;
}


@media (max-width: 1200px) {
  .section3-content {
    margin: 40px 20px;
    height: auto;
    flex-direction: column-reverse;
    padding: 30px;
  }

  .img-section3 {
    width: 400px;
    padding-bottom: 30px;
  }

  .section3 .main-title {
    font-size: 38px;
  }

  .marquee-section3 {
    font-size: 22px;
  }

  .marquee-wrapper-section3 {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .section3-content {
    padding: 20px;
    margin: 30px 10px;
  }

  .img-section3 {
    width: 400px;
    padding-bottom: 25px;
  }

  .section3 .main-title {
    font-size: 30px;
  }

  .main-text {
    font-size: 14px;
  }

  .btn-play {
    width: 200px;
    font-size: 14px;
    padding: 10px 20px;
  }

  .marquee-section3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .img-section3 {
   
    width: 400px;
    padding-bottom: 0px;
    margin-left: 50px;
  }

  .section3 .main-title {
    font-size: 24px;
  }

  .main-text {
    font-size: 13px;
  }

  .btn-play {
    width: 90%;
    max-width: 260px;
    font-size: 13px;
  }

  .marquee-section3 {
    font-size: 18px;
  }

  .marquee-wrapper-section3 {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}